build/
bin/
devel/
bag/
msg_gen/
srv_gen/
*.swp
*~
*.bash
*.so
*.bag
a.out

#Latex
*.aux
*.log
*.dvi
*.pdf

#Hidden files
.*

#Tmp files
*.swp
*~
*.cpp~
*.hpp~

*.lst
*.hex
*.o
*.sym
*.lss
*.eep
*.elf
*.hex
*.map
core

scanner.cc
scanner.hh
parser.cc
parser.hh
*.cs306*
